$dark-background: black;
$section-background: #0d0d0d;
$text-color: white;
$main-font: 'Russo One', sans-serif;


body, p, main {
    border: 0;
    margin: 0;
    padding: 0;
}

p, h1{
    color: $text-color;
    font-family: $main-font;
}

p {
    font-size: 11px;
    text-align: center;
}

body {
    margin-top: 20px;
    background-color: $dark-background;
}

.row {
    background-color: $section-background;
    border-radius: 30px;
    padding-right: 10px;
}

#header-text {
    font-size: 35px;
}

#first-letter {
    color: red;
    font-size: 45px;
}

#motto {
    margin: 30px 0 0 0;
}